.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.item {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        .img-first {
            transform: translate(calc(-50% - 55px), -50%);
            transition-delay: .33s;
        }

        .img-second {
            transform: translate(calc(-50% + 55px), -50%);
            transition-delay: .33s;
        }
    }

    .img-wrapper {
        position: relative;
        overflow: hidden;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            max-width: 100%;
            height: auto;
            width: 105px;
            transition: transform 0.25s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 7px;
        }

        .img-first {
            z-index: 2;
            transition-delay: .3s;
        }

        .img-second {
            z-index: 1;
            transition-delay: .3s;
        }
    }


    .info {
        display: flex;
        justify-content:  start;
        align-items: center;

        .condition {
            border-radius: 50%;
            height: 18px;
            width: 18px;
            margin-right: 7px;
            border: 1px solid rgba(0, 0, 0, 0.432);
            position: relative;
        
            &.mint {
                background-color: $mint-color;
        
                &:hover::after {
                    content: "M";
                    color: white;
                    background-color: $mint-color;
                }
            }
        
            &.excellent {
                background-color: $excellent-color;
        
                &:hover::after {
                    content: "E"; 
                    background-color: $excellent-color;
                }
            }
        
            &.good {
                background-color: $good-color;
        
                &:hover::after {
                    content: "G"; 
                    background-color: $good-color;
                }
            }
        
            &.fair {
                background-color: $fair-color;
        
                &:hover::after {
                    content: "F"; 
                    background-color: $fair-color;
                }
            }
        
            &:hover::after {
                font-size: 0.6em;
                position: absolute;
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%);
                border-radius: 50%; 
                padding: 2px;
                font-weight: bold;
                opacity: .6;
            }
        }
        
            

        }

    h3 {
        font-size: 1.2rem;
        color: #333;
        margin-top: 10px;
        font-weight: 400;
    }

    p {
        font-size: 1.1rem;
        color: #777;
        margin: 0;
       

    }

    .setNumber {
        margin-left: auto; /* Pushes it to the end of the flex container */
        margin-right: 5px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        p {
            font-size: .8rem;
            color: #555;  
        } 
        
        img {
                width: 25px;
                height: auto;
                margin-left: 5px;
            }
    }
    
}
